<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column">
    <table mat-table [dataSource]="tableData" class="table-width-fix">

      <tr mat-row *matRowDef="let row; columns: [&apos;subject&apos;,&apos;description&apos;,&apos;priority&apos;,&apos;checkdate&apos;];"></tr>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.subject}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.description}}</td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.priority}}</td>
      </ng-container>

      <ng-container matColumnDef="checkdate">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.checkdate}}</td>
      </ng-container>
    </table>
  </div>
</div>