<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <h3>
      Add Incident</h3>
  </div>
  <div fxLayout="row wrap" style="width:300px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <form [formGroup]="sampleform">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Enter Subject" [required]="false" formControlName="subject">
          <mat-error align="start" *ngIf="sampleform.controls.subject.errors?.required">Please enter the subject</mat-error>
          <mat-error align="start" *ngIf="sampleform.controls.subject.errors?.pattern">Please enter only alphabets.</mat-error>
        </mat-form-field>
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Enter Description" [required]="false" formControlName="description">
          <mat-error align="start" *ngIf="sampleform.controls.description.errors?.required">Please enter the description</mat-error>
          <mat-error align="start" *ngIf="sampleform.controls.description.errors?.pattern">Please enter the alphanumeric only.</mat-error>
        </mat-form-field>
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Enter Priority" [required]="false" formControlName="priority">
          <mat-error align="start" *ngIf="sampleform.controls.priority.errors?.required">Please enter the Priority</mat-error>
          <mat-error align="start" *ngIf="sampleform.controls.priority.errors?.pattern">Please enter the numeric values.</mat-error>
        </mat-form-field>
        <mat-form-field [appearance]="&apos;legacy&apos;">
          <input matInput placeholder="Choose incident date" [matDatepicker]="picker" formControlName="date" (dateChange)="change($event)" [min]="mindate" [required]="false" [disabled]="false">
          <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="false"></mat-datepicker>
          <mat-error align="start" *ngIf="sampleform.controls.date.errors?.required">Please enter the date</mat-error>
        </mat-form-field>
      </div><button mat-raised-button style="width:100%;background-color: #6048ce;" routerLink="table" (click)="onclick()">Submit</button>
    </form>
  </div>
</div>