<div fxLayout="row wrap" style="background-color:gold;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <h3 style="padding-right:75%;">
    Incident Details</h3>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="padding-left:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-fab color="primary" (click)="onclick()">
        <mat-icon>add_circle</mat-icon>
      </button></div>
    <div fxLayout="column wrap" style="padding-left:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-fab color="primary">
        <mat-icon>home</mat-icon>
      </button></div>
    <div fxLayout="column wrap" style="padding-left:20px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-fab color="primary">
        <mat-icon>logout</mat-icon>
      </button></div>
  </div>
</div>